@media (-webkit-min-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2.5),
(min-device-pixel-ratio: 2.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.333);
      transform: scaleY(0.333);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3.5),
(min-device-pixel-ratio: 3.5) {
  .border-1px {
    &::after {
      transform: scaleY(0.2857);
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  flex-wrap: 200;
  font-family: 'PingFang SC','STHeitiSC-Light',Arial, Helvetica, sans-serif
}
